#on suit les liens symboliques

# Options +FollowSymLinks

#Activation du mod rewrite d'apache

RewriteEngine On

RewriteRule ^xe-transfer-like/$ index.php?action=home [L,QSA]

RewriteRule ^(upload)$ index.php?action=$1 [L,QSA]

RewriteRule ^(uploadSuccess) index.php?action=$1 [L,QSA]

RewriteRule ^(mail) index.php?action=$1 [L,QSA]

 