Options +FollowSymLinks

#Activation du mod rewrite d'apache

RewriteEngine On

RewriteRule ^(file)/(.*)$ index.php?action=$1&url=$2 [L,QSA]

RewriteRule ^(uploadSuccess) index.php?action=$1 [L,QSA]

RewriteRule ^(upload) index.php?action=$1 [L,QSA]

RewriteRule ^xe-transfer-like index.php?action=home [L,QSA]

RewriteRule ^(formulaire) index.php?action=$1 [L,QSA]
