{% extends "main.html" %}

{% block content %} 
<div class="navbar">
    <a href="/xe-transfer-like"><img class="logo" src="assets/medias/logo.png"></a>
    
</div>

<div class="form">
    <form id="form" method="post" action="upload" enctype="multipart/form-data">

            <input type="hidden" name="MAX_FILE_SIZE" value="100000000000">
            <input class="parc" type="file" name="upFile">
            <p id="errorusermail"> </p>
            <input class="userMail" id="email" name="userMail" type="email" placeholder="Votre email" required aria-required="true"></br> 
            <p class="destinatairemail"></p>
            <input class="destinataireMail" type="email" name="destinataireMail" placeholder="Mail Destinataire" required aria-required="true"></br> 
            
            <textarea class="textarea" name="message" rows="4" cols="50" placeholder="Votre Message"></textarea> 
            <input class="btn" type="submit" name="envoi" value="Envoyer" onclick="uploadFichier()"/>

    
    </form>
    <script type="text/javascript" src="check.js"></script>

    

{% endblock %}