{% extends "main.html" %}


{% block content %} 

<h1 class="title">Bienvenue sur</br>XE Transfer</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-xl-12">
            <img class="logoAccueil" src="assets/medias/logo.png">
                <p class="text">Transfèrer vos fichiers volumineux grâce à notre plateforme simple, rapide et fonctionnelle!</p>
                    <input type="button" value="Accèder à notre service" onclick="window.location.href='upload'" />
                <p class="slogan">Xe Transfer<br>T'inquiete, je gère !!!</p>
        </div>
    </div>
</div>


{% endblock %} 
