{% extends "main.html" %}


{% block content %} 

<h1 class="title">Bienvenue sur</h1>
            <img class="logoAccueil" src="assets/medias/logo.png">
                <p class="text">Transfèrer vos fichiers volumineux grâce à notre plateforme simple, rapide et fonctionnelle!</p>
                    <input class="btn" type="button" value="Accèder à notre service" onclick="window.location.href='formulaire'" />
                <p class="slogan">Xe Transfer<br>T'inquiete, je gère !!!</p>



{% endblock %} 
