{% extends "main.html" %}

{% block content %} 
<div class="navbar">
    <a href="/xe-transfer-like"><img class="logo" src="assets/medias/logo.png"></a>
    
</div>
<div class="container">
        <div class="row">
            <div class="col-12 col-xl-12">

                <form class="form" id="form" method="post" action="upload" enctype="multipart/form-data">             
                    <input type="hidden" name="MAX_FILE_SIZE" value="100000000000">
                    <input class="btn" type="file" name="upFile"></br> 
                    <input class="mail" type="text" name="userMail" placeholder="Votre Mail"></br> 
                    <input class="mail" type="text" name="destinataireMail" placeholder="Mail Destinataire"></br> 
                    <textarea class="textarea" name="message" placeholder="Votre Message"></textarea></br>              
                    <input class="btn" type="submit" name="upload" value="Envoyer">

                </form>

        </div>
    </div>
</div>
{% endblock %}